<!DOCTYPE html>
<html>
  <head>
    <title>Proyecto I - Horario</title>
    <p class="title1">Smart_hours.</p>
<br><br>

<div id="myProgress">
  <div id="myBar">33%</div>
</div>
<br><br>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>
<script>
window.onload = function(){
  var elem = document.getElementById("myBar");   
  var width = 33;
  var id = setInterval(frame, 30);
  function frame() {
    if (width >= 66) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      elem.innerHTML = width * 1  + '%';
    }
  }
};
</script>
<style>
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
</style>
  <!-- HEADER -->
  <body bgcolor="#F3CA24">
    
    <!-- APARTADO HORARIO -->
    <link rel="stylesheet" type="text/css" href="../static/css/DPS.css">

    <form action="/resultados" method="post">
      <div class="row">
	<div class="column_medium" style="background-color:#F3CA24;">
	  <table align="center">
	    <p class="observations2">Introduce el máximo número de notas posibles.</p>
	    <tr><td>Nota de Selectividad:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_sele"></td></tr>
	    <tr><td>Álgebra Lineal:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_algebra"></td></tr>
	    <tr><td>Cálculo I:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_calcul1"></td></tr>
	    <tr><td>Fundamentos de Informática:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_info1"></td></tr>
	    <tr><td>Mecánica Fundamental:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_MecFon"></td></tr>
	    <tr><td>Química I:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_quim1"></td></tr>
	    <tr><td>Cálculo II:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_calcul2"></td></tr>
	    <tr><td>Expresión Gráfica:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_expre"></td></tr>
	    <tr><td>Geometría:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_geo"></td></tr>	
	    <tr><td>Química II:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_quim2"></td></tr>
	    <tr><td>Termodinámica Fundamental:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="input_termo"></td></tr>
	  </table>
	</div>
	
	<div class="column_medium" style="background-color:#F3CA24;">
	  <table align="center">
	    <p class="observations2"> Introduce las notas que deseas obtener.</p>
	    {% for i in range(0, l_des) %}
	    <tr><td>{{ nombres_des[i] }}:</td><td> <input width="70%" size="10" onkeypress="return justNumbers(event);" name="{{ nombres_des[i] }}"></td></tr>	  
	    {% endfor %}
	  </table>
	  <br>
	</div>
      </div>

      
      <br>
      <div class="wrapper">
	<button type="submit"> GENERA TU HORARIO! </button>
      </div>
    </form>

    <br>
    <button onclick="javascript:history.go(-1)";>Go Back</button>
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../static/javascript/jquery.min.js"></script>
    <script src="../static/javascript/numbers.js"></script>

  </body>
</html>
